<div class="container">

    <h2>Binvennue</h2>        
    <select class=form-control>
       <option value=un>Jeans</option>
        <option value=deux>Chemise</option>
        <option value=trois>Shirts</option>
        <option value=trois>Sac a dos/<option>
       </select>
    
  </div>
  <div class="container">
    
    <div class="panel panel-default">
      <div class="panel-heading"><section>
  
        <img src="assets/image/about-02.jpg"  style="width:30%">
        <img src="assets/image/gallery-02.jpg"  style="width:30%">
        <img src="assets/image/gallery-06.jpg"  style="width:26%">
    
    </section></div>
      <div class="panel-body"></div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">Jeans</div>
      <div class="panel-body"><img src="assets/image/img1.jpg"  style="width:30%">
        <img src="assets/image/img2.jpg"  style="width:30%">
        <img src="assets/image/img3.jpg"  style="width:26%"></div>
    </div>
  </div>
  
  
  
    