<div class="container">

    <h2>Binvennue</h2>        
    <select class=form-control>
       <option value=un>Jeans</option>
        <option value=deux>Chemise</option>
        <option value=trois>Shirts</option>
        <option value=trois>Sac a dos/<option>
       </select>
    <section>

    <img src="assets/image/img78.jpg"  style="width:30%">
    <img src="assets/image/img89.jpg"  style="width:30%">
    <img src="assets/image/img58.jpg"  style="width:26%">

</section>
<div class="panel panel-primary">
  <div class="panel-heading">Jeans</div>
  <div class="panel-body">
      <img src="assets/image/imgh1.jpg"  style="width:30%">
    <img src="assets/image/imgh2.webp"  style="width:30%">
    <img src="assets/image/imgh3.jpg"  style="width:26%"></div>
</div>
  </div>